$primaryColor: #de3735;
/* $backGroundColor: #8b332b; */
$backGroundColor: #de3835c4;

.DefaultLayout {
 /*  :global(.DefaultLayout) {
    margin: 0;
  } */

  box-sizing: border-box;

  width: 100%;
  background-color: $backGroundColor;
}
.NavbarLayout {
  height: 60px;
  padding: 10px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: $primaryColor;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.LayoutImg {
  width: 150px;
  height: 70px;
  background-color: $primaryColor;
}

.LayoutFooter {
  border-radius: 12px;
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
}

.FooterLogo {
  width: 20%;
}

.FooterLinks {
  width: 20%;
}

.FooterLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FooterLinks li {
  margin-bottom: 10px;
}

.FooterLinks a {
  color: #333;
  text-decoration: none;
}

.FooterLinks a:hover {
  color: #007bff;
}

.FooterSocial {
  width: 20%;
}

.FooterSocial ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FooterSocial li {
  display: inline-block;
  margin-right: 10px;
  &:hover {
    transform: scale(1.4);
  }
}

.FooterSocial a {
  color: #333;
  transition: all 0.3s;
}

.FooterSocial a:hover {
  color: #007bff;
}

.FooterSubscribe {
  width: 20%;
}

.FooterSubscribe p {
  margin-bottom: 10px;
}

.FooterSubscribe input {
  width: 80%;
  padding: 5px;
}

.FooterSubscribe button {
  width: 15%;
  padding: 5px;
}

@media screen and (max-width: 860px) {
  .LayoutFooter {
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  .FooterLogo,
  .FooterLinks,
  .FooterSocial,
  .FooterSubscribe {
    width: 100%;
    margin-bottom: 20px;
  }

  .FooterSocial li {
    margin-right: 15px;
    &:hover {
      transform: none;
    }
  }
}
